
    <footer class="small-12 columns">
      <section class="row">
        <h3 class="small-12 columns">Aonde Estamos</h3>
        <section class="footer-map small-12 medium-8 large-8 columns">
          <a href="https://www.google.com.br/maps/place/Asseste+Extintores/@-25.4234377,-49.3496514,19z/data=!4m2!3m1!1s0x0:0xaea2b77852f1c1f9">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=Rua+Angelo+Caron,+415,+São+Braz,+Curitiba&zoom=16&scale=1&size=600x300&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7CRua+Angelo+Caron,+415,+São+Braz,+Curitiba" alt="Mapa da Asseste Extintores" />
            <p>Rua Angelo Caron, 485 - São Braz, Curitiba - PR</p>
          </a>
        </section>
        <section class="footer-info small-12 medium-4 large-4 columns">
          <img src="/img/logo-footer.jpg" alt="Asseste Extintores" />
          <p class="text-center">Asseste Comércio de Extintores Ltda.</p>
          <iframe id="fb-plugin" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAsseste-Com%25C3%25A9rcio-de-Extintores-Ltda%2F392214337459452&amp;width=270&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=103528953089480&amp;colorscheme=dark" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:80px;" allowTransparency="true"></iframe>
        </section>
      </section>
    </footer>
    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.js"></script>
    <script src="foundation/js/foundation/foundation.topbar.js"></script>
    <script src="foundation/js/foundation/foundation.interchange.js"></script>
    <script src="js/asseste.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Piwik -->
  </body>
</html>

