
    <footer class="small-12 columns">
      <section class="row">
        <section class="small-12 columns">
          <h3>Aonde Estamos</h3>
          <p>Rua Angelo Caron, 485 - São Braz, Curitiba - PR</p>
          <a href="https://www.google.com.br/maps/place/Asseste+Extintores/@-25.4234377,-49.3496514,19z/data=!4m2!3m1!1s0x0:0xaea2b77852f1c1f9">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=Rua+Angelo+Caron,+415,+São+Braz,+Curitiba&zoom=16&scale=1&size=400x200&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7CRua+Angelo+Caron,+415,+São+Braz,+Curitiba" alt="Mapa da Asseste Extintores" />
          </a>
        </section>
        <section class="small-12 columns">
        </section>
      </section>
    </footer>
    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.js"></script>
    <script src="foundation/js/foundation/foundation.topbar.js"></script>
    <script src="js/asseste.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Piwik -->
  </body>
</html>

