<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pt-br" > <![endif]-->
<html class="no-js" lang="pt-br" >
  <head>
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Junior Ales" />

    <title>Asseste Extintores</title>

    <link rel="stylesheet" href="foundation/css/normalize.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/asseste.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link type="text/plain" rel="author" href="http://www.assesteextintores.com.br/humans.txt" />

    <script src="foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <header>
      <nav id="small-topbar" class="top-bar show-for-small-only" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Asseste Extintores</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="active"><a href="#">Produtos</a></li>
            <hr />
            <li class="active"><a href="#">Serviços</a></li>
            <hr />
            <li class="active"><a href="#">Contato</a></li>
          </ul>
        </section>
      </nav>
      <section id="container-big-topbar" class="small-12 columns hide-for-small-only">
        <nav id="big-topbar" class="row">
          <section class="small-6 columns">
            <a href="/"><img src="img/logo.jpg" alt="Asseste Extintores" /></a>
          </section>
          <section class="small-2 columns text-center">
            <a href="#">Produtos</a>
          </section>
          <section class="small-2 columns text-center">
            <a href="#">Serviços</a>
          </section>
          <section class="small-2 columns text-center">
            <a href="#">Contato</a>
          </section>
        </nav>
      </section>
    </header>
