<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pt-br" > <![endif]-->
<html class="no-js" lang="pt-br" >
  <head>
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Junior Ales" />

    <title>Asseste Extintores</title>

    <link rel="stylesheet" href="foundation/css/normalize.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/asseste.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link type="text/plain" rel="author" href="http://www.assesteextintores.com.br/humans.txt" />

    <script src="foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
