@mixin transition($property: all) {
  -webkit-transition: $property .3s ease;
  -moz-transition: $property .3s ease;
  transition: $property .3s ease;
}

@media only screen and (min-width: 40.063em) {
  #big-topbar {
    & a { font-size: 1.4em; }
    & section.small-2 { padding: 10px; }
  }
}

@media only screen and (min-width: 64.063em) {
  #big-topbar {
    & a { font-size: 1.8em; }
    & section.small-2 { padding: 20px; }
  }
}

#small-topbar {
  background-color: $primaryColor;
  & .top-bar-section a {
    background-color: $secondaryColor;
    &:hover { background-color: darken($secondaryColor, 15%); }
  }
  & hr {
    margin: 0px;
    border: solid darken($secondaryColor, 5%);
    border-width: 1px 0 0;
  }
}

#container-big-topbar {
  background-color: $primaryColor;
  min-height: 150px;
}

#big-topbar {
  & a {
    color: $tertiaryColor;
    opacity: 0.8;
    @include transition(opacity);
    &:hover { opacity: 1; }
  }
  & img {
    margin: 20px;
    max-height: 180px;
  }
  & section.small-2 {
    top: 120px;
    @include transition(background-color);

    &:hover {
      background-color: $tertiaryColor;
      & a { color: $primaryColor; }
    }
  }
}
